In [9]:
import pandas as pd
import numpy as np
import glob

In [6]:
file=glob.glob("sales*.xlsx")

In [10]:
type(file)

list

In [7]:
all_data = pd.DataFrame()
for f in file:
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)

In [13]:
all_data.describe()

       account number    quantity  unit price    ext price
count      384.000000  384.000000  384.000000   384.000000
mean    478125.989583   24.372396   56.651406  1394.517344
std     220902.947401   14.373219   27.075883  1117.809743
min     141962.000000   -1.000000   10.210000   -97.160000
25%     257198.000000   12.000000   32.612500   482.745000
50%     424914.000000   23.500000   58.160000  1098.710000
75%     714466.000000   37.000000   80.965000  2132.260000
max     786968.000000   49.000000   99.730000  4590.810000

In [12]:
all_data.head(2)

,account number,name,sku,quantity,unit price,ext price,date
0,383080,Will LLC,B1-20000,7,33.69,235.83,2014-02-01 09:04:59
1,412290,Jerde-Hilpert,S1-27722,11,21.12,232.32,2014-02-01 11:51:46