In [2]:
import pandas as pd
import numpy as np
import glob

file=glob.glob("sales*.xlsx")

all_data = pd.DataFrame()
for f in file:
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)

all_data.head(2)

,account number,name,sku,quantity,unit price,ext price,date
0,383080,Will LLC,B1-20000,7,33.69,235.83,2014-02-01 09:04:59
1,412290,Jerde-Hilpert,S1-27722,11,21.12,232.32,2014-02-01 11:51:46