In [17]:
import pandas as pd

In [118]:
movies = pd.read_csv("moviesdata.csv")

In [119]:
movies.head(2)

,id,keywords,original_title,overview
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [124]:
movies.describe()

,id,keywords,original_title,overview
count,4809,4809,4809,4809
unique,4809,4226,4805,4809
top,857,[],"""""gender"""": 0",A lonely Hawaiian girl named Lilo is being rai...
freq,1,411,3,1

In [123]:
movies.dropna(inplace=True)

In [98]:
from sklearn.metrics.pairwise import cosine_similarity

In [99]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
movies['overview'] = movies['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies['overview'])

In [100]:
doc_term_matrix = tfidf_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=tfidf.get_feature_names(), 
                  index=movies.index)

In [101]:
from sklearn.metrics.pairwise import cosine_similarity
cos=cosine_similarity(df, df)

In [102]:
indices = pd.Series(movies.index, index=movies['original_title']).drop_duplicates()

In [103]:
def give_recommendation(title, cos=cos):
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]
    movie_indices = [i[0] for i in cos_scores]
    return movies['original_title'].iloc[movie_indices]

In [104]:
give_recommendation('Avatar')

3613                       Apollo 18
2139                    The American
641                       The Matrix
1350                Obitaemyy Ostrov
535                 Tears of the Sun
1619                           Hanna
316     The Adventures of Pluto Nash
855                         Semi-Pro
783                        Supernova
2637             Blood and Chocolate
Name: original_title, dtype: object