In [7]:
import pandas as pd

In [8]:
movies = pd.read_csv("moviesdata.csv")

In [9]:
movies.describe()

,id,keywords,original_title,overview
count,4813,4813,4812,4809
unique,4813,4229,4808,4809
top,11229,[],"""""gender"""": 0","In 1947, four German judges who served on the ..."
freq,1,412,3,1

In [10]:
movies.head(2)

,id,keywords,original_title,overview
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [11]:
movies.dropna(inplace=True)

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
movies['overview'] = movies['overview'].fillna('')


tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['overview'])

In [14]:
doc_term_matrix = tfidf_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=tfidf.get_feature_names(), 
                  index=movies.index)

In [15]:
cos=cosine_similarity(df, df)

In [18]:
def give_recommendation(title, cos=cos):
    indices = pd.Series(movies.index,
                    index=movies['original_title']).drop_duplicates()
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]
    movie_indices = [i[0] for i in cos_scores]
    return movies['original_title'].iloc[movie_indices]

In [20]:
give_recommendation('The Matrix')

481        The Legend of Zorro
4264                     Amigo
4024       Singin' in the Rain
2437            McFarland, USA
3268    Much Ado About Nothing
2746        The Last Godfather
3110               The Joneses
4653               Death Calls
4324            Blue Like Jazz
1584             About Schmidt
Name: original_title, dtype: object