#### Import library

In [14]:
import pandas as pd
import numpy as np

#### อ่านข้อมูลจากไฟล์ data.csv

In [18]:
df=pd.read_csv("data.csv", index_col=0)

#### แสดงภาพรวมของ data ที่อ่านมา

In [19]:
df.describe()

                  x             y
count  10000.000000  10000.000000
mean      -0.009542      0.011307
std        0.998733      1.006906
min       -3.657612     -3.927478
25%       -0.675469     -0.663371
50%       -0.005905      0.005792
75%        0.681220      0.693301
max        3.846983      4.546425

#### แสดงตัวอย่างข้อมูล 2 rows แรก

In [20]:
df.head(2)

          x         y
0  0.316548 -0.900813
1 -1.101454  0.526450

#### กำหนด partion_size คือ ขนาดของ partition

In [21]:
partion_size = 2000

#### num_partion คือ จำนวนของ partition

In [22]:
num_partion = int(len(df)/partion_size)+1

In [24]:
print("จำนวน partition =",num_partion)

จำนวน partition = 6

#### ใช้ List comprehension แบ่งข้อมูลเป็น partition ตามขนาดที่กำหนด ได้ตัวแปร frames ไปใช้งาน

In [26]:
frames = [ df.iloc[i*partion_size:(i+1)*partion_size] for i in range(num_partion) ]

#### แสดง type ของ frames (คือ list)

In [28]:
type(frames)

list

#### frames เป็น list ที่บรรจุ DataFrame

In [30]:
type(frames[0])

pandas.core.frame.DataFrame

#### แสดงข้อมูลของ frames[0] จะเห็นว่ามี 200 rows

In [33]:
frames[0].describe()

                 x            y
count  2000.000000  2000.000000
mean     -0.049458     0.019886
std       0.986490     1.009773
min      -3.371136    -3.163262
25%      -0.702121    -0.681960
50%      -0.015067     0.043236
75%       0.639262     0.730308
max       3.461875     3.525991

#### Export แต่ละ partition เป็น csv file

In [36]:
x=1
for i in frames:
    i.to_csv("export/data-partition-"+str(x)+".csv")
    x+=1

####  แสดงไฟล์ที่ export สำเร็จ

In [51]:
%cd export

E:\DEV\python\split dataframe to equal size\export

In [52]:
%ls

 Volume in drive E is New Volume
 Volume Serial Number is CA76-314D

 Directory of E:\DEV\python\split dataframe to equal size\export

28-Sep-19  08:50 PM    <DIR>          .
28-Sep-19  08:50 PM    <DIR>          ..
28-Sep-19  08:50 PM            89,202 data-partition-1.csv
28-Sep-19  08:50 PM            90,332 data-partition-2.csv
28-Sep-19  08:50 PM            90,349 data-partition-3.csv
28-Sep-19  08:50 PM            90,318 data-partition-4.csv
28-Sep-19  08:50 PM            90,315 data-partition-5.csv
28-Sep-19  08:50 PM                 6 data-partition-6.csv
               6 File(s)        450,522 bytes
               2 Dir(s)  15,030,382,592 bytes free

In [15]:
len(frames[1])

100

In [13]:
print(N)

441

In [31]:
type(frames[1])

pandas.core.frame.DataFrame

In [32]:
frames[1].head(2)

            x         y
100 -0.884976 -0.293180
101  0.365533 -0.847196