In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("moviesdata.csv")

In [3]:
movies.describe()

           id keywords  original_title                          overview
count    4813     4813            4812                              4809
unique   4813     4229            4808                              4809
top     16358       []   ""gender"": 0   ""name"": ""Guylaine Boucher""}
freq        1      412               3                                 1

In [ ]:
movies.head(2)

In [ ]:
movies.dropna(inplace=True)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
movies['overview'] = movies['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies['overview'])

In [ ]:
doc_term_matrix = tfidf_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=tfidf.get_feature_names(), 
                  index=movies.index)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cos=cosine_similarity(df, df)

In [ ]:
indices = pd.Series(movies.index, index=movies['original_title']).drop_duplicates()

In [ ]:
def give_recommendation(title, cos=cos):
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]
    movie_indices = [i[0] for i in cos_scores]
    return movies['original_title'].iloc[movie_indices]

In [ ]:
give_recommendation('Avatar')