## Import library

In [3]:
import pandas as pd
import numpy as np

In [101]:
df = pd.DataFrame({
    'x':np.random.randn(10500),
    'y':np.random.randn(10500),
})

In [102]:
df.describe()

                  x             y
count  10500.000000  10500.000000
mean       0.012397     -0.004182
std        1.008875      0.992660
min       -4.007735     -4.266208
25%       -0.671447     -0.675922
50%        0.014438     -0.005036
75%        0.694876      0.657982
max        3.631706      4.037973

In [103]:
df.to_csv("data.csv")