In [1]:
import numpy as np
import pandas as pd

In [12]:
data=[[1,2,3,4],[5,6,7,8]]
index=['a','b']
column=['w','x','y','z']

In [13]:
df=pd.DataFrame(data,index,column)

In [59]:
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8

In [60]:
df.index

Index(['a', 'b'], dtype='object')

In [61]:
len(df.index)

2

In [62]:
type(df.index)

pandas.indexes.base.Index

In [63]:
for fd in df.index:
    print(fd)

a
b

In [65]:
df.values

array([[1, 2, 3, 4],
       [5, 6, 7, 8]], dtype=int64)

In [69]:
df.values[1]

array([5, 6, 7, 8], dtype=int64)

In [67]:
df.columns

Index(['w', 'x', 'y', 'z'], dtype='object')

In [68]:
df.columns[1]

'x'

In [70]:
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8

In [71]:
df.loc['a':]

w    1
x    2
y    3
z    4
Name: a, dtype: int64

In [72]:
ef=df.loc['a']

In [77]:
ef.T

w    1
x    2
y    3
z    4
Name: a, dtype: int64

In [82]:
# Select  from row a-b  and columns w,z,x 
df.loc['a':'b',['w','z','x']]

   w  z  x
a  1  4  2
b  5  8  6

In [17]:
df.loc[:,]

   w  x  y  z
a  1  2  3  4
b  5  6  7  8