In [134]:
import pandas as pd
import random
from random import shuffle

In [135]:
df = pd.read_csv('AdventureWork_name_employee.csv',sep=",",names= ['id','name'])

##  Covert data from file to list

In [136]:
list_reader=df['id'].tolist()

## Create function to create random unique list of Employees

In [137]:
# Function to create list of unique employee joining in each CoP session
def randomUniqueList(number,listData):
    ex=[]
    for i in range (0,number):
        shuffle(listData)  #re-arrange order of memeber in the list
        mylist2 = listData
        dax=mylist2.pop()  #select random member in unique fashion
        ex.append(dax)
    return ex

## Create number of CoP each Years

In [138]:
Years=4
StartYear=2015

### Create list of years

In [139]:
listYear=[]
for i in range(4):
    listYear.append(StartYear+i)

### Create list of CoP each year

In [140]:
#CoP each Year
CoP=[]
a=0
TotalNoCoP=0
for i in range(StartYear,(StartYear+Years)):
    if(a<2):
        ans=random.randrange(2,4)
    else :
        ans=random.randrange(4,9)
    CoP.append(ans)
    a+=1
    TotalNoCoP+=ans

### Manipulate years in CoP data

In [141]:
yearsCoP=[]
for i in range(len(CoP)):
    for z in range(CoP[i]):
        #print(i+1,listYear[i],z+1)
        yearsCoP.append(listYear[i])

## Creat number of Prticipant in each CoPs

In [142]:
ParticipantCoPNo=[]
for i in range(TotalNoCoP):
    ParticipantCoPNo.append(random.randrange(15,45))

###  Total count Most of CoPs

In [143]:
len(ParticipantCoPNo)

14

## Create list of participants in each CoPs

In [144]:
ListParticipant=[]
for i in range(TotalNoCoP):
    ans=randomUniqueList(ParticipantCoPNo[i],list_reader)
    ListParticipant.append(ans)

In [145]:
print(ListParticipant[2])
print(len(ListParticipant[2]))

[153, 253, 915, 224, 481, 650, 892, 494, 914, 956, 607, 392, 831, 984, 751, 544, 292, 899]
18

## Create Topics and Tags

In [146]:
CoPTopic=[]
CoPTag1=[]
CoPTag2=[]
for i in range(1,TotalNoCoP+1):
    CoPTopic.append("CoP Topic"+str(i))
    CoPTag1.append(random.randrange(1,4))
    CoPTag2.append(random.randrange(1,6))

In [147]:
print(CoPTopic)

['CoP Topic1', 'CoP Topic2', 'CoP Topic3', 'CoP Topic4', 'CoP Topic5', 'CoP Topic6', 'CoP Topic7', 'CoP Topic8', 'CoP Topic9', 'CoP Topic10', 'CoP Topic11', 'CoP Topic12', 'CoP Topic13', 'CoP Topic14']

## Assign Speaker ,time periods  in each CoPs

In [148]:
Speaker=[]
Duration=[]
FeedbackScore=[]
CoPNo=[]
for i in range(TotalNoCoP):
    Speaker.append(randomUniqueList(1,list_reader)[0])
    Duration.append(random.randrange(2,4))
    FeedbackScore.append(random.randrange(3,5))
    CoPNo.append(i+1)

In [149]:
print(Speaker,Duration)

[380, 340, 679, 233, 676, 696, 86, 74, 872, 111, 373, 178, 43, 119] [3, 3, 2, 3, 2, 2, 2, 3, 2, 2, 3, 3, 2, 2]

## Create dataframe from lists

In [150]:
df = pd.DataFrame(list(zip(CoPNo,yearsCoP,CoPTopic,Speaker, Duration,FeedbackScore,CoPTag1,CoPTag2,ParticipantCoPNo)), 
               columns =['CoPNo','yearsCoP','CoPTopic','Speaker', 'Duration','FeedbackScore','CoPTag1','CoPTag2','ParticipantCoPNo'])

In [151]:
df

,CoPNo,yearsCoP,CoPTopic,Speaker,Duration,FeedbackScore,CoPTag1,CoPTag2,ParticipantCoPNo
0,1,2015,CoP Topic1,380,3,4,3,5,23
1,2,2015,CoP Topic2,340,3,3,3,1,37
2,3,2016,CoP Topic3,679,2,4,1,4,18
3,4,2016,CoP Topic4,233,3,3,3,2,39
4,5,2017,CoP Topic5,676,2,4,3,5,41
5,6,2017,CoP Topic6,696,2,3,2,4,21
6,7,2017,CoP Topic7,86,2,4,2,2,34
7,8,2017,CoP Topic8,74,3,4,3,2,31
8,9,2017,CoP Topic9,872,2,4,3,4,21
9,10,2017,CoP Topic10,111,2,3,2,4,15
10,11,2018,CoP Topic11,373,3,4,3,2,38
11,12,2018,CoP Topic12,178,3,3,1,2,25
12,13,2018,CoP Topic13,43,2,4,1,3,31
13,14,2018,CoP Topic14,119,2,3,1,1,31

## Function for Specific work

In [152]:
# Get specific item match to index 
def GetValueFromList(val,indexs):
    ans=[]
    for i in range (len(val)):
        ans.append(val[i])
    return ans[indexs]

In [153]:
# Count member of list
def CountMemberOfList(lists):
    return len(lists)

## Manipulate full list of data for each employees

In [170]:
AllRecord=[]
AllEmployee=[]
AllCoPNo=[]
t=1
for c in range(TotalNoCoP):
    for g in range(len(ListParticipant[c])):
        ansx=ListParticipant[c]
        #print(t,c+1,CountMemberOfList(ansx),GetValueFromList(ansx,g),g+1)
        AllRecord.append(t)
        AllEmployee.append(GetValueFromList(ansx,g))
        AllCoPNo.append(c+1)
        t+=1

## Create dataframe for full list of employees

In [163]:
dfAll = pd.DataFrame(list(zip(AllRecord,AllCoPNo,AllEmployee)), 
               columns =['AllRecord','CoPNo','AllEmployee'])

## Merge Dataframe to final state

In [164]:
df_full=pd.merge(df, dfAll, on='CoPNo')

## Assign index to specific column

In [165]:
df_full.set_index('AllRecord', inplace=True)

## Export to csv file

In [169]:
df_full.to_csv('SimulatedCoP_KM_Analytics.csv')